$amarillo: yellow;
$rojo: red;
$verde: green;

$color_footer: #343a40;
$color_tituloModal: #2c3e50;
$color_icon_close: #333;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margin_paddin_color($m_top,$m_bottom,$p_top,$p_bottom,$color) {
    margin-top: $m_top;
    margin-bottom: $m_bottom;
    padding-top: $p_top;
    padding-bottom: $p_bottom;
    color: $color;
}

//.........................CSS...............................
.jumbotron{
    @include margenes(50px, 0px);
    padding: 5px;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    @include margenes(0px, 40px);
}
footer {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $color_footer;
    color: white;
    text-align: center;
}
.container-breadcrumb{
    padding-top: 60px;
    padding-bottom: 25px;
}

.card-hotel{
    flex: 1 300px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}
.container-card{
    padding-bottom: 20px;
}
.card-img-top{
    max-width: 350px;
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titulo_modal{
    background-color: $color_tituloModal;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.close{
    background-color: $color_icon_close;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.container-form
{
    padding-bottom: 20px;
}
.nav-tabs{
    font-size: 20px;
}
.tab-pane{
    padding-top: 15px;
    text-align: justify;
    font-size:20px;
}