.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 5px; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin-top: 0px;
  margin-bottom: 40px; }

footer {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center; }

.container-breadcrumb {
  padding-top: 60px;
  padding-bottom: 25px; }

.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0%; }

.container-card {
  padding-bottom: 20px; }

.card-img-top {
  max-width: 350px;
  display: block;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px; }

.titulo_modal {
  background-color: #2c3e50;
  color: white !important;
  text-align: center;
  font-size: 30px; }

.close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px; }

.container-form {
  padding-bottom: 20px; }

.nav-tabs {
  font-size: 20px; }

.tab-pane {
  padding-top: 15px;
  text-align: justify;
  font-size: 20px; }
